@mixin before_circle {
    &:before {
        position: absolute;
        content: '';
        height: 36px;
        width: 36px;
        border-radius: 100%;
        background: $main-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: -1;
        top: -25%;
        left: 0;
    }
}
@mixin before_circle_white {
    &:before {
        position: absolute;
        content: '';
        height: 36px;
        width: 36px;
        border-radius: 100%;
        background: rgb(255, 255, 255);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: -1;
        top: -25%;
        left: 0;
    }
}
@mixin before_circle_beige {
    &:before {
        position: absolute;
        content: '';
        height: 36px;
        width: 36px;
        border-radius: 100%;
        // background:  #c6c5c0;
        background: #bad4d1;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        z-index: -1;
        top: -25%;
        left: 0;
    }
}
@mixin before_circle_blue {
    &:before {
        position: absolute;
        content: '';
        height: 36px;
        width: 36px;
        border-radius: 100%;
        background: rgba(140,166,185, 0.40);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        z-index: -1;
        top: -25%;
        left: 0;
    }
}
