.button {
    width: 150px;
    height: 30px;
    background: $main-color;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        box-shadow: 3px 3px 20px $main-color;
        border: none;
    }

    &_main {
        margin-top: 67px;
        width: 303px;
        height: 54px;
        font-size: 16px;
        cursor: pointer;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
    }

    &_submit {
        width: 100%;
        background: #C70101;
        height: 58px;
        font-size: 16px;
        cursor: pointer;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
    }

    &_mini {
        width: 135px;
        height: 44px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        cursor: pointer;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
    }
}