.catalog {
    padding-bottom: 100px;
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #D0D0D0;
        width: 222px;
        height: 52px;
        color: #6B6B6B;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        line-height: 48px;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            background-color: $main-color;
            color: #FFFFFF;
            border: none;
        }
    }
}