@media (max-width: 1200px ) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
}

@media (max-width: 992px ) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__title {
            font-size: 36px;
        }
    }
    
}

@media (max-width: 768px ) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
        }
    }
}

@media (max-width: 576px ) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        &__wrapper {
            max-width: 300px;
        }
        &__title {
            font-size: 26px;
            padding-left: 20px;
            line-height: 39px;
        }
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
}