.resume {
    padding-top: 80px;

    &__title {
        text-align: center;
    }

    .divider {
        text-align: center;
        margin: 0 auto;
    }

    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 425px));
        column-gap: 135px;
    }

    &__column {
        &-title {
            position: relative;
            padding-left: 35px;

            &:before {
                position: absolute;
                content: '';
                background: #bad4d1;
                width: 15px;
                height: 15px;
                display: block;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        ul {
            list-style-type: none;

            li {
                position: relative;

                &:after {
                    position: absolute;
                    content: '';
                    background: black;
                    width: 1px;
                    height: calc(100% + 16px);
                    top: -16px;
                    left: 0;
                }
            }
        }
    }

    &__item {
        &:before {
            position: absolute;
            content: '';
            background: black;
            width: 45px;
            height: 1px;
            top: 68px;
        }
        &-head {
            padding: 45px 0 0 100px;
            position: relative;
            h4 {
                margin-bottom: 0;
            }
        }

        &-body {
            padding: 12px 0 0 45px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }

        &-icon {
            position: absolute;
            top: 50px;
            left: 45px;
            @include before_circle_beige;

            img {
                position: absolute;
                top: 17px;
                left: 14px;
            }
        }

        &-location {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            margin-top: 5px;
        }
    }
}