.skills {
    margin-top: 100px;
    margin-bottom: 120px;

    .divider {
        text-align: center;
        margin: 0 auto;
    }

    &__wrapper {
        padding-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, minmax(auto, 270px));
        grid-template-rows: repeat(2, minmax(auto, 270px));
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
    }

    &__item {
        padding: 30px 30px 25px 30px;
        box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.17);
        border-radius: 20px;
        background-color: rgba(140,166,185, 0.1);

        .title {
            margin-top: 20px;
            margin-bottom: 0;
        }

        &-body {
            margin-top: 15px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }

        &-icon {
            display: flex;
            align-items: center;
            min-height: 65px;
        }
    }

    &__ratings {
        margin-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 350px));
        grid-template-rows: repeat(2, 70px);
        gap: 45px;
        &-item {
            display: grid;
            grid-template: minmax(21px, auto) 14px / minmax(auto, 200px) 35px;
            justify-content: space-between;
            align-content: space-between;
            row-gap: 30px;
        }

        &-line {
            max-width: 350px;
            height: 20px;
            background: rgb(204, 204, 204, 0.27);
            grid-column-start: 1;
            grid-column-end: 3;
            padding: 3px;
            border-radius: 11px;
            span {
                display: block;
                height: 100%;
                background: #bad4d1;
                border-radius: 11px;
            }
        }

        &-counter {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
        }
        &-title {
            position: relative;
            padding: 2px 0 0 13px;
            @include before_circle_beige;
        }
    }
}